[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Django = "3.2.14"
gunicorn = "*"
psycopg2-binary = "*"
django-ses = "*"
django-widget-tweaks = "*"
selenium = "*"
django-allauth = "*"
Pillow = "*"
coverage = "*"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-2.0.0%2Bcpu-cp37-cp37-linux_x86_64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/cpu/torchvision-0.15.1%2Bcpu-cp37-cp37-linux_x86_64.whl"}

[requires]
python_version = "3.7"