{% extends 'base.html' %}

{% load static %}

{% block title %}プロフィール | にゃっぷ {% endblock %}

{% block active_diary_list %}active{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}


{% block contents %}
<script>
    // 最初のロード時とリサイズ時に発火
    $(window).on("load resize", function() {
        // id="target"のwidthを取得
        var width = $("#target1").width();
        // class="circle"のheightに設定
        $(".circle").css({"height": width});
    });
</script>
<script>
    // 最初のロード時とリサイズ時に発火
    $(window).on("load resize", function() {
        // id="target"のwidthを取得
        var width = $("#target2").width();
        // class="square"のheightに設定
        $(".square").css({"height": width});
    });
</script>
<div class="container my-div-style">
    <div class="row mx-auto">
        <div class="col-12 text-center border-bottom">
            <strong>{{ user_addr.username }}</strong>
        </div>
        <div class="col-4 col-md-2 mx-auto">
            <div class="col-12 pt-3" id="target1">
                {# プロフィール画像列 #}
                <div class="rounded-circle text-center circle border">
                    {% if user_addr.avatar %}
                    <img class="fit-img" src="{{ user_addr.avatar.url }}">
                    {% else %}
                    <img class="fit-img" src="{% static 'assets/img/nyapu.png' %}">
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-12 col-md-10 text-center">
            <div class="row">
                {% if user_addr == request.user %}
                <div class="col-4 border-bottom">
                    <a class="nav-link disabled">
                        <p>投稿数</p>
                        {#  object_listのlengthを取得することで投稿数をカウントできる。#}
                        {{ my_diary_count }}
                    </a>
                </div>
                <div class="col-4 border-bottom">
                    <a href="{% url 'diary:followings' %}" class="nav-link">
                        <p>フォロー</p>
                        {#  フォロー数を表示#}
                        {{ following_count }}
                    </a>
                </div>
                <div class="col-4 border-bottom">
                    <a href="{% url 'diary:followers' %}" class="nav-link">
                        <p>フォロワー</p>
                        {#  フォロワー数を表示#}
                        {{ follower_count }}
                    </a>
                </div>
                {% else %}
                <div class="col-4 border-bottom">
                    <a class="nav-link disabled">
                        <p>投稿数</p>
                        {#  object_listのlengthを取得することで投稿数をカウントできる。#}
                        {{ my_diary_count }}
                    </a>
                </div>
                <div class="col-4 border-bottom">
                    <a class="nav-link disabled">
                        <p>フォロー</p>
                        {#  フォロー数を表示#}
                        {{ following_count }}
                    </a>
                </div>
                <div class="col-4 border-bottom">
                    <a class="nav-link disabled">
                        <p>フォロワー</p>
                        {#  フォロワー数を表示#}
                        {{ follower_count }}
                    </a>
                </div>
                {% endif %}
                <div class="col-12 text-start">
                    {{ user_addr.profile }}
                </div>
            </div>
        </div>
        <div class="col-12 pt-2 text-center">
            {% if user_addr == request.user %}
            <a class="btn btn-outline-secondary" href="{% url 'accounts:edit_profile' %}" >プロフィール更新</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        {% for diary in diary_list %}
        <div class="col-4 border" id="target2">
            <a href="{% url 'diary:diary_detail' diary.pk %}" class="border square">
                {% if diary.photo1 %}
                <img src="{{ diary.photo1.url }}" class="fit-img"/>
                {% endif %}
            </a>
        </div>
        {% empty %}
        <p>日記がありません。</p>
        {% endfor %}
        <!-- ページネーション処理　-->
        {% if is_paginated %}
            <ul class="pagination mt-3">
                <!-- 前ページへのリンク　-->
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}
             <!-- ページ表示　-->
                {% for page_num in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_num %}
                        <li class="page-item active">
                            <a class="page-link" href="#">{{ page_num }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
             <!-- 次ページへのリンク　-->
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_object.next_page_number }}">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}



